@import url('https://fonts.googleapis.com/css?family=Cinzel|Righteous&display=swap');
body {
  background-color: #fae3a2;
}
.page {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  text-align: center;
  background-color: #fae3a2;
  border-radius: 5px;
}
body {
  font: 14px/26px Righteous, Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
header{
  font-size: 24px;
  line-height: 48px;
}
h4 {
  font-size: 21px;
  font-family: Righteous, cursive;
}
h4 #clock {
  font-size: 36px;
  display: block;
  padding: 5px 0px;
}
h1 {
  font-family: Cinzel, cursive;
}
#localImage {
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#wakeUpTimeSelector, #lunchTimeSelector, #napTimeSelector {
  border-radius:15px;
  padding: 10px 0;
  
}